* {
    box-sizing: border-box;
    
}

header, footer {
    height: 100px;
    border: 3px solid black;
    clear: both;
}

.div1 section {
    border: 3px solid black;
    height: 200px;
    float: left;
    width: 33.3333%;
}

.div2 section {
    border: 3px solid black;
    height: 200px;
    float: left;
    width: 50%;
}
