* {
    text-align: center;
}

header {
    height: 200px;

}
section {
    width: 33.3333%;
    height:300px;
    float: left;
    color: white;
}

#red {
    background-color: red;
    
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

footer {
    height: 200px;
}